<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{#each cssFile}}
  <link rel='stylesheet' href='{{.}}'/>
  {{/each}}
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>